{{#each this}}
    <li class="list list-item">
        <img
            src="{{backdrop_path}}"
            alt="{{title}}"
            class="poster-img"
        />        
        <div class="movie-card-short-info">
            <h2 class="movie-card-title">{{title}}</h2>
            <p class="movie-card-text">{{genre_ids}} | {{release_date}} <span class="avg-rating">{{vote_average}}</span></p>
        </div>
    </li>
{{/each}}
