<li class="library__card-container">
  <article class="lib-card" id="lib-card">
    <a class="lib-card__link" href="#" data-id="{{id}}">
      <div class="lib-card__image-container">
        <img class="lib-card__image" src="{{poster_path}}" alt="movie-cover" />
      </div>
      <h2 class="lib-card__title">
        {{title}}
      </h2>
      <div class="lib-card__info">
        <span class="lib-card__info--genres">
          {{! ToDo: list of genres can be too long! }}
          {{genres}}
        </span>
        <span>
          |
        </span>
        <span>
          {{! ToDo: get year by release_date }}
          {{release_date}}
        </span>
        <div class="lib-card__info--ratio">
          <span>
            {{vote_average}}
          </span>
        </div>
      </div>
    </a>
  </article>
</li>