   
     <div  class = " modal " >
                
              <ul class="detalis-film list">
                  <li class="detalis-film-img">
                      <img src="{{film_cart}}" alt="{{film_title}}" class="card__image"/></li>
                      
                  <li class="detalis-film-about">
                      <h2 class="film-title">{{film_title}}</h2>
                      <ul class="list">
                        <li class="statistics"><span class="statistics-title">Vote / Votes </span> <div class="rectangle"><span>{{vote}}</span></div> <div class="rectangle"><span>{{votes}}</span></div> </li>
                        <li class="statistics"> <span class="statistics-title">Popularity </span> {{popularity}} </p>
                        <li class="statistics"><span class="statistics-title">Original Title</span>   {{original_title}} </li>
                        <li class="statistics"><span class="statistics-title">Genre </span>  {{genre}} </li> 
                      </ul>
                       <h3 class="about-title">About </h3>
                       <p class="about">{{about}}</p>
                      
                    <ul class = "modal-button list">
                      <li>
                          <button  type ="submit" class = "modal-btn"> add to Watched </button>
                      </li>
                      <li>
                          <button  type = "submit" class = "modal-btn"> add to queue </button>
                      </li>
                  </ul>
                  </li>
              </ul>

          </div>     
        
