<div id="modal" class="modal">
    <button class="modal__close-btn" type="button">
        <svg class="icon-cross" width="20px" height="20px" fill="#000000" viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke="black" stroke-width="2.133" d="M8.533 8.533l14.933 14.933m-14.933.001L23.466 8.534" />
        </svg>
    </button>
    <img src="{{poster_path}}" data-source="https://image.tmdb.org/t/p/w500/{{backdrop_path}}" alt="film poster"
        class="modal__image" width="240px" />
    <div class="modal__info-box">
        <h2 class="modal__film-title">{{title}}</h2>
        <div class="modal__rating-box">
            <ul class="modal__rating-list">
                <li class="modal__rating-item">
                    <span class="modal__rating-votes">Vote / Votes</span>
                    <span class="modal__rating-votes-avarage">{{vote_average}}</span>
                    <span class="slice">/</span>
                    <span class="modal__rating-votes-total">{{vote_count}}</span>
                </li>
                <li class="modal__rating-item">
                    <span class="modal__rating-popular">Popularity</span>
                    <span class="modal__rating-popular-value">{{popularity}}</span>
                </li>
                <li class="modal__rating-item">
                    <span class="modal__rating-name">Original Title</span>
                    <div class="modal__rating-name-box">
                        <span class="modal__rating-name-value">{{original_title}}</span>
                    </div>
                </li>
                <li class="modal__rating-item">
                    <span class="modal__rating-genre">Genre</span>
                    <div class="modal__rating-genre-box">
                        {{#each this.genres}}
                        <span class="modal__rating-genre-value">{{this.name}}</span>
                        {{/each}}
                    </div>
                </li>
            </ul>

        </div>
        <h3 class="modal__title-about">About</h3>
        <div class="modal__text-about-box" data-size="min">
            <p class="modal__text-about">
                {{overview}}
            </p>
            <p class="modal__more">&#8693</p>
        </div>
        <div class="modal__button-box">
            <button class="modal__watched-button" type="button">add to <br> watched</button>
            <button class="modal__queue-button" type="button">add to queue</button>
        </div>
    </div>
</div>