{{#each this}}
<li class="card image-slider__slide swiper-slide" data-id="{{this.id}}">
    <img src="https://www.themoviedb.org/t/p/w220_and_h330_face{{poster_path}}" alt="{{title}}" class="card__image">
    <h4 class="card__title">{{title}}</h4>
    <div class="card__info--container">
        <span class="card__info">{{genre_ids}} | </span>
        <span class="card__info">{{release_date}}</span>
        <span class="card__info--votes">{{vote_average}}</span>
    </div>
</li>
{{/each}}