{{#if poster_path}}
<img class="movie-modal-image" src="https://image.tmdb.org/t/p/w500{{poster_path}} " alt="{{original_title}}"
    loading="lazy" data-movieId="{{id}}">
{{else}}
<img class="movie-modal-image" src="https://i.pinimg.com/564x/12/61/84/126184dfb0f0c766bfd35206dae35b37.jpg"
    alt="No photo" loading="lazy">
{{/if}}
<div class="movie-modal-full-description">
    <h2 class="movie-modal-title"> {{original_title}}</h2>
    <div class="movie-modal-properties-values">
        <ul class="movie-modal-properties list">
            <li>Rating / Votes</li>
            <li>Popularity</li>
            <li> Original Title</li>
            <li>Genre</li>
        </ul>
        <ul class="movie-modal-values list">
            <li class="modal-vote-count">
                <span class="modal-vote">{{vote_average}}</span>
                <span class="modal-line"> /</span>
                <span class="modal-count">{{vote_count}}</span>
            </li>
            <li>{{popularity}}</li>
            <li class="modal-original-title">{{original_title}}</li>
            <li class="modal-genre">
                {{#if genres}}
                {{#each genres}}
                <span class="modal-genre-item">{{this.name}}</span>
                {{/each}}
                {{else}}
                <span class="modal-genre-item">Other</span>
                {{/if}}
            </li>
        </ul>
    </div>
    <h3 class="about-modal">About</h3>
    <p class="about-modal-description">{{overview}}</p>

    {{!-- <div class="buttons-wrapper movie-button">
        <button class="button js-add-to-watched">add to watched</button>
        <button class="button modal-light-btn js-add-to-queue">add to queue</button>
    </div> --}}

    <div class="buttons-wrapper movie-button">
        <input type="checkbox" class="visuallyhidden watched-checkbox">
        <span class="button add-watched-button" data-movieId="{{id}}">add to watched</span>
        <input type="checkbox" class="visuallyhidden queue-checkbox ">
        <span class="button add-queue-button" data-movieId="{{id}}">add to queue</span>
        {{!-- <button class="button">ADD TO WATCHED</button>
        <button class="button">ADD TO QUEUE</button> --}}
    </div>
</div>