<ul class="moviesList moviesList-js">
    {{#each this}}
    <li class="moviesList-item moviesList-item-js" data-movieId="{{id}}">
        <img src="https://image.tmdb.org/t/p/w300{{poster_path}}" alt="It seems the poster is missing"
            onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';" class="moviesList-poster" />
        <a class="moviesList-movieName moviesList-movieName-js">{{title}}</a>
        <p class="moviesList-movieGenreAndYear moviesList-movieGenreAndYear-js">{{genre_ids}} | {{release_date}}</p>
    </li>
    {{/each}}
</ul>


{{!-- Оригинал_ 1920x1477 (1) --}}

{{!-- https://placeimg.com/200/300/animals --}}