<ul class="moviesList moviesList-js lib-movie-list">
    {{#each this}}
    <li class="moviesList-item moviesList-item-js" data-movieId="{{id}}">
        <img src="https://image.tmdb.org/t/p/w300{{poster_path}}" alt="It seems the poster is missing"
            onerror="this.onerror=null;this.src='https://i.pinimg.com/564x/12/61/84/126184dfb0f0c766bfd35206dae35b37.jpg';"
            class="moviesList-poster" data-movieId="{{id}}" />
        <a class="moviesList-movieName moviesList-movieName-js">{{title}}</a>
        <p class="moviesList-movieGenreAndYear moviesList-movieGenreAndYear-js"> {{#each genres}}{{name}},{{#if
            @last}}{{name}}{{/if}}{{/each}} |
            {{release_date}}
        </p>
    </li>
    {{/each}}
</ul>