{{#each this}}
<li class="movies__list-item">
    <img class="movie__poster" src="{{poster_path}}" alt="{{title}} poster" id="{{id}}">

    <p class=" movie__name">{{title}}</p>
    <p class="movie__genre">{{genre_ids}} | {{release_date}}</p>
</li>
{{/each}}