<div class="movie-card">
    <div class="movie-card__item">
        <img src="{{poster_path}}" alt="Movie Poster" class="movie-card__poster"/>
    </div>
    <div class="movie-card__item">
        <h2 class="movie-card__title">{{title}}</h2>
            <ul class="movie-card__info">
                <li class="movie-card__info--item">
                    <h3 class="movie-card__info--title">Vote / Votes</h3>
                    <p class="movie-card__content--item"><span class="movie-card__vote">{{vote_average}}</span> / {{vote_count}}</p>
                </li>
                <li class="movie-card__info--item">
                    <h3 class="movie-card__info--title">Popularity</h3>
                    <p class="movie-card__content--item">{{popularity}}</p>
                </li>
                <li class="movie-card__info--item">
                    <h3 class="movie-card__info--title">Original Title</h3>
                    <p class="movie-card__content--item">{{original_title}}</p>
                </li>
                <li class="movie-card__info--item">
                    <h3 class="movie-card__info--title">Genre</h3>
                    <p class="movie-card__content--item">{{genres}}</p>
            </ul>
        <button type="button" class="play-trailer" data-id={{id}} data-name={{title}}>Watch Trailer</button>
        <h3 class="movie-card__about">About</h3>
        <div class="movie-card__about--content">{{overview}}</div>
        <div class="button-wrapper">
            <button type="button" class="modal-button modal-button-watched" data-id="{{id}}" data-action="add-to-watched">Add to
                watched</button>
            <button type="button" class="modal-button modal-button-queue" data-id="{{id}}" data-action="add-to-queue">Add to
                queue</button>
        </div>
    </div>
</div>
